@model DailyQuest_v01.Models.Admin
@{
    Layout = "~/Views/Shared/SocialLayout.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
                <div class="pt-2 pb-2">
                    <nav aria-label="breadcrumb">
                    <h5 class="card-title">Notificaion</h5>
                </nav>
            </div>
        </div>
            <div class="alert alert-danger" role="alert">尚有檢舉項目未處理</div>
    </div>
</div>

